---
type Props = {
  id?: string;
  class?: string;
};

const { id, class: className } = Astro.props;
---

<section
  class:list={[
    'min-h-[100dvh] flex mx-auto w-full justify-center flex-col',
    className,
  ]}
  id={id}
>
  <slot />
</section>
