---
type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noreferrer"
  class="h-5 w-5 text-white/70 hover:text-primary-yellow"
>
  <span class="pointer-events-none">
    <slot />
  </span>
</a>
