---
import constants from '../../constants';
import Button from '../button.astro';
---

<div
  class="max-w-4xl mx-auto flex items-center justify-center pt-12 flex-col gap-4"
>
  <p class="text-2xl font-semibold text-primary-yellow">
    Interested in learning more?
  </p>
  <Button href={`mailto:${constants.email}`}>Send me an email!</Button>
</div>
