---
import constants from '../../../constants';
import Routes from '../../../constants/routes';
import Button from '../../button.astro';
import ScrollSection from '../../scrolling/scroll-section.astro';
import GradientBg from './gradient-bg.svelte';
---

<ScrollSection class="max-w-4xl">
  <GradientBg client:idle />

  <div class="space-y-8">
    <div class="space-y-2">
      <span
        class="text-primary-yellow md:text-lg"
        data-slide
        style="--delay: 200ms">Hej! My name is</span
      >

      <h1
        class="text-4xl font-black font-header md:text-8xl"
        data-slide
        style="--delay: 400ms"
      >
        {constants.name}
      </h1>

      <p
        class="text-white/70 text-sm md:text-lg max-w-lg"
        data-slide
        style="--delay: 800ms"
      >
        I'm a {constants.title} based in Lund, Sweden. Let's build something cool
        together!
      </p>
    </div>

    <span data-slide style="--delay: 800ms">
      <Button href={Routes.Contact}>Get in touch</Button>
    </span>
  </div>
</ScrollSection>

<style lang="scss">
  [data-slide] {
    display: block;
    animation: slide-in-from-bottom 1s var(--delay)
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
</style>
