---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<div
  class:list={[
    'flex-col items-center justify-center gap-8 fixed bottom-0 text-sm hidden xl:flex',
    className,
  ]}
>
  <slot />
</div>

<style lang="scss">
  div {
    animation: appear 500ms 2.5s ease-in-out both;

    &::after {
      content: '';
      height: 120px;
      width: 1px;
      background-color: theme('colors.white / 50%');
      display: block;
    }
  }
</style>
