---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<div
  class:list={[
    'flex flex-col items-center justify-center gap-8 fixed bottom-0 text-sm',
    className,
  ]}
>
  <slot />
</div>

<style lang="scss">
  div::after {
    content: '';
    height: 120px;
    width: 1px;
    background-color: theme('colors.white / 50%');
    display: block;
  }
</style>
