---
import LinkExternalIcon from './icons/link-external-icon.astro';

type Props = {
  href: string;
  class?: string;
};

const { href, class: className } = Astro.props;

const isInternal = href.startsWith('/');
---

<a
  href={href}
  target={!isInternal ? '_blank' : null}
  class:list={[
    'flex items-center gap-2 print:text-black hover:underline',
    className,
  ]}
>
  <slot />

  {
    !isInternal && (
      <span class="w-3 print:hidden">
        <LinkExternalIcon />
      </span>
    )
  }
</a>
