---
---

<span>
  <slot />
</span>

<style lang="scss">
  span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: theme('colors.primary.yellow');

    &:hover {
      -webkit-text-fill-color: theme('colors.primary.yellow');
    }
  }
</style>
