---
import Navbar from '../components/layout/navbar.astro';
import MouseCursor from '../components/mouse-cursor.svelte';
import '@fontsource/outfit/800.css';
import Meta from '../components/meta.astro';
import BottomInfo from '../components/layout/bottom-info.astro';

type Props = {
  title?: string;
  description: string;
  class?: string;
};

const { title, description, class: className = '' } = Astro.props;
---

<html lang="en">
  <Meta title={title} description={description} />

  <body class="bg-primary-black text-white">
    <Navbar />

    <main class:list={[className, 'pb-12']}>
      <slot />
    </main>

    <BottomInfo />

    <MouseCursor client:idle />

    <style>
      @font-face {
        font-family: 'Hubot Sans';
        src: url('/fonts/hubot-sans.woff2') format('woff2');
        font-weight: 200 900;
        font-stretch: 75% 125%;
        font-display: swap;
      }

      @media print {
        html {
          font-size: 0.9rem;
        }
      }
    </style>

    <style is:global>
      .md-content ul {
        list-style: disc;
        padding-left: 1rem;
      }

      .md-content ul li:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      .md-content a {
        @apply text-primary-yellow hover:underline print:text-black;
      }

      .md-content strong {
        @apply font-medium;
      }

      .vm-rl {
        writing-mode: vertical-rl;
      }
    </style>
  </body>
</html>
